div(ng-view)

script(id="jobs.jade", type="text/ng-template")
  include jobs

script(id="job.jade", type="text/ng-template")
  include job

script(id="post-job.jade", type="text/ng-template")
  include post-job

script(id="events.jade", type="text/ng-template")
  include events

script(id="event.jade", type="text/ng-template")
  include event

script(id="post-event.jade", type="text/ng-template")
  include post-event
