.container
  .row
    .col-md-12
      footer#site-footer
        .row
          .col-sm-2
            span.choose-city
              select(
                ng-model="selected_city"
                ng-options="key as value for (key, value) in cities"
              )
          .col-sm-10
            span.contact.hidden-xs.pull-right
              | Questions? Comments?&nbsp;
              a(href="mailto:contact@codeland.ca") contact@codeland.ca
